<form [formGroup]="form" [hidden]="success" (ngSubmit)="submit()">
  <h1>Pig Report</h1>
  <h4>Personal Information</h4>
  <div formGroupName="person">
    <mat-form-field class="xs">
      <input matInput placeholder="name" formControlName="name" />

      <mat-error
        *ngIf="person!.invalid && person!.touched"
        class="has-text-danger"
      >
        Missing your name
      </mat-error>
    </mat-form-field>
    <mat-form-field class="xs">
      <input matInput placeholder="phone" formControlName="phone" />

      <mat-error
        *ngIf="person!.invalid && person!.touched"
        class="has-text-danger"
      >
        Please enter 10 digit phone number
      </mat-error>
    </mat-form-field>
  </div>

  <h4>Pig Information</h4>
  <div formGroupName="pig">
    <mat-form-field class="xs">
      <input matInput placeholder="breed" formControlName="breed" />

      <mat-error *ngIf="pig!.invalid && pig!.touched" class="has-text-danger">
        Missing pig breed
      </mat-error>
    </mat-form-field>
    <mat-form-field class="xs">
      <input matInput placeholder="PID" formControlName="pid" />

      <mat-error *ngIf="pig!.invalid && pig!.touched" class="has-text-danger">
        Please enter 3 digit PID number
      </mat-error>
    </mat-form-field>
    <mat-form-field class="xs">
      <input matInput placeholder="name" formControlName="name" />

      <mat-error *ngIf="pig!.invalid && pig!.touched" class="has-text-danger">
        Missing pig name
      </mat-error>
    </mat-form-field>
  </div>

  <h4>Location and Date</h4>
  <div formGroupName="location">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="location">
      <mat-option *ngFor="let loc of locs | keyvalue" [value]="loc.value">{{
        loc.key
      }}</mat-option>
      <mat-option value="other">other</mat-option>
    </mat-select>
    <div *ngIf="new_location">
      <mat-form-field class="xs">
        <input matInput placeholder="name" formControlName="name" />

        <mat-error
          *ngIf="location!.invalid && location!.touched"
          class="has-text-danger"
        >
          Missing location name
        </mat-error>
      </mat-form-field>

      <mat-form-field class="xs">
        <input matInput placeholder="longitude" formControlName="longitude" />

        <mat-error
          *ngIf="location!.invalid && location!.touched"
          class="has-text-danger"
        >
          Missing longitude
        </mat-error>
      </mat-form-field>

      <mat-form-field class="xs">
        <input matInput placeholder="latitude" formControlName="latitude" />

        <mat-error
          *ngIf="location!.invalid && location!.touched"
          class="has-text-danger"
        >
          Missing latitude
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <h4>Extra Notes</h4>
  <mat-form-field class="xs">
    <textarea matInput placeholder="Comment" formControlName="notes">
    </textarea>
  </mat-form-field>
  <hr />
  <button
    mat-raised-button
    type="submit"
    [disabled]="form.invalid"
    color="primary"
  >
    ADD
  </button>
</form>

<div *ngIf="success" class="notification is-success">
  Yay! We received your submission
</div>
