<h1>Testing password</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <!-- <input formControlName="password" required /> -->
  <mat-form-field>
    <input matInput placeholder="password" formControlName="password" />
    <mat-error
      *ngIf="password!.invalid && password!.touched"
      class="has-text-danger"
    >
      Wrong password
    </mat-error>
  </mat-form-field>
  <hr />
  <button mat-raised-button color="primary" type="submit">VALIDATE</button>
  <button mat-raised-button color="secondary" (click)="cancel()">CANCEL</button>
</form>
