table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
a {
  text-decoration: none;
}

table {
  margin: 10px;
}

a:hover {
  color: dodgerblue;
  cursor: pointer;
}

#add-pig {
  margin: 10px;
}
